main {
  width: 100%;
  height: 100%;
}

main * {
  text-decoration: none;
}

#find {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}

#find-email, #find-password {
  width: 60%;
  height: 50%;
  border: 2px solid #ffc038;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  transition: all 1s;
}

#find-email p, #find-password p {
  font-size: 5rem;
  color: #ffc038;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

#find-email:hover, #find-password:hover {
  transform: scale(90%);
}

.email, .password, .password-change-code, .password-change {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.email, .password, .result, .password-change-code, .password-change {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  width: 100%;
  height: 100%;
}

.email > .content, .result > .content, .password-change-code > .content {
  width: 35%;
  height: 25%;
  border: 2px solid #ffc038;
  border-radius: 15px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.password-change > .content {
  width: 35%;
  height: 40%;
  border: 2px solid #ffc038;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 20% 5% 25% 5% 25% 20%;
  justify-items: center;
  align-items: center;
}

.email > .content {
  grid-template-rows: 25% 5% 40% 30%;
}

.result > .content {
  grid-template-rows: 25% 45% 30%;
}

.password-change-code > .content {
  grid-template-rows: 30% 45% 25%;
}

.password > .content {
  width: 35%;
  height: 40%;
  border: 2px solid #ffc038;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 20% 5% 25% 5% 25% 20%;
  justify-items: center;
  align-items: center;
}

.title {
  width: 100%;
  height: 100%;
  font-size: 3.5rem;
  color: #ffc038;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.content input {
  width: 80%;
  height: 70%;
  border: 2px solid #ffc038;
  border-radius: 15px;
  text-align: center;
  color: #ffc038;
  text-shadow: -0.5px 0 #000000, 0 0.5px #000000, 0.5px 0 #000000, 0 -0.5px #000000;
  font-size: 2.5rem;
  outline: 0;
}

.content input::placeholder {
  color: #ffc038;
}

.btn-field {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-field button {
  width: 30%;
  height: 80%;
  margin: 0 5%;
  border: 2px solid #ffc038;
  border-radius: 15px;
  background-color: #ffffff;
  color: #ffc038;
  text-shadow: -0.5px 0 #000000, 0 0.5px #000000, 0.5px 0 #000000, 0 -0.5px #000000;
  font-size: 2.3rem;
  transition: all 1s;
  cursor: pointer;
}

.btn-field button:hover {
  transform: scale(95%);
}

.find {
  color: #ffc038;
  font-size: 3rem;
  text-shadow: -0.5px 0 #000000, 0 0.5px #000000, 0.5px 0 #000000, 0 -0.5px #000000;
}

.result-field {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-field :nth-child(n) {
  width: 30%;
  height: 80%;
  border: 2px solid #ffc038;
  border-radius: 15px;
  background-color: #ffffff;
  margin: 0 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  color: #ffc038;
  text-shadow: -0.5px 0 #000000, 0 0.5px #000000, 0.5px 0 #000000, 0 -0.5px #000000;
  transition: all 1s;
  cursor: pointer;
}

.result-field :nth-child(n):hover {
  transform: scale(95%);
}

.tip {
  color: #f11212;
  text-shadow: -0.5px 0 #000000, 0 0.5px #000000, 0.5px 0 #000000, 0 -0.5px #000000;
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.main-page, .login-page {
  width: 4.5%;
  height: 100%;
  border: 2px solid #ffc038;
  color: #ffc038;
  text-shadow: -0.5px 0 #000000, 0 0.5px #000000, 0.5px 0 #000000, 0 -0.5px #000000;
  position: absolute;
  top: 0;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1.5s;
  font-size: 3rem;
}

.main-page {
  left: 0;
  border-left: none;
  border-radius: 0 15px 15px 0;
}
    
.main-page:hover, .login-page:hover {
  opacity: 1;
}

.login-page {
  right: 0;
  border-right: none;
  border-radius: 15px 0 0 15px;
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  background-color: #ffffff;
  opacity: 0.8;
  top: 0;
  display: none;
}

h1 {
  font-size: 10rem;
}