main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main * {
  text-decoration: none;
}

#register-code {
  width: 35%;
  height: 30%;
  border: 1.5px solid #ffc038;
  display: grid;
  grid-template-rows: 30% 40% 30%;
}

#register {
  width: 40%;
  height: 80%;
  display: grid;
  grid-template-rows: 15% 70% 15%;
  border: 1.5px solid #ffc038;
}

.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  justify-items: center;
  align-items: center;
}

.content input {
  height: 80%;
}

.register-field {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-field button {
  width: 30%;
  height: 40%;
  background-color: #ffffff;
  border: 1.5px solid #ffc038;
  border-radius: 5px;
  font-size: 2.3rem;
  margin: 0 7%;
  cursor: pointer;
}

.register-field button a {
  font-size: 2.3rem;
}

.title {
  width: 100%;
  height: 100%;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.email {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 30% 70%;
  justify-items: center;
  align-items: center;
}

input {
  width: 75%;
  height: 75%;
  border: 1.5px solid #ffc038;
  border-radius: 5px;
  text-align: center;
  font-size: 2.3rem;
  outline: 0;
}

input::placeholder {
  color: #000000;
}

.btn-field {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-field > button {
  width: 25%;
  height: 50%;
  border: 1.5px solid #ffc038;
  border-radius: 5px;
  outline: 0;
  background-color: #ffffff;
  cursor: pointer;
  margin: 0 7%;
  font-size: 2.3rem;
}

button > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.tip {
  color: #f11212;
  font-size: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page, .login-page {
  width: 4.5%;
  height: 100%;
  border: 2px solid #ffc038;
  color: #ffc038;
  text-shadow: -0.5px 0 #000000, 0 0.5px #000000, 0.5px 0 #000000, 0 -0.5px #000000;
  position: absolute;
  top: 0;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1.5s;
  font-size: 3rem;
}

.main-page {
  left: 0;
  border-left: none;
  border-radius: 0 15px 15px 0;
}
    
.main-page:hover, .login-page:hover {
  opacity: 1;
}

.login-page {
  right: 0;
  border-right: none;
  border-radius: 15px 0 0 15px;
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  background-color: #ffffff;
  opacity: 0.8;
  top: 0;
  display: none;
}

h1 {
  font-size: 10rem;
}