#admin-log {
  width: 100%;
  height: 95%;
  display: grid;
  grid-template-rows: 94% 5%;
}

#admin-log * {
  text-decoration: none;
}

.log {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(15, 1fr);
  align-items: center;
  font-size: 2.3rem;
  overflow: auto;
}

.log::-webkit-scrollbar {
  display: none;
}

.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 80% 20%;
  justify-items: left;
  align-items: center;
  border: 1.5px solid #ffc038;
  border-top: none;
}

.content:nth-child(15) {
  border-bottom: none;
}

.content p {
  margin-left: 2.5%;
}

.name, .target {
  color: #ffc038;
}

.pages {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1.5px solid #ffc038;
}
  
.pages p {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
  
.page {
  width: 100%;
  height: 100%;
  font-size: 2.8rem;
}
  
.select {
  color: #ffc038;
  pointer-events: none;
}
  
.prev, .next {
  width: 100%;
  height: 100%;
  font-size: 2.8rem;
}