@charset "utf-8";
@font-face {
    font-family: 'jua';
    src: url(./Jua-Regular.ttf);
}

/* font - em rem */
/* normal - em rem % */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #333333;
    font-family: 'jua';
}

#app {
    width: 100%;
    margin: 0 auto;
}

@media(max-width:480px) { /* 모바일용 */
    #app {
        width: 480px;
    }
}