<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gujerbit.battle_cat_web.dao.AdminDAO">

	<update id="userReject">
		UPDATE user_data SET reject_end_date = #{reject_end_date}
		<where>
			name = #{name}
		</where>
	</update>
	
	<update id="userForeverReject">
		UPDATE user_data SET forever_reject = true
		<where>
			name = #{name}
		</where>
	</update>
	
	<update id="userRejectRelease">
		UPDATE user_data SET reject_end_date = #{reject_end_date}, forever_reject = false
		<where>
			name = #{name}
		</where>
	</update>
	
	<insert id="setAdminLog">
		INSERT INTO admin_log(email, name, content, log_date) VALUES(#{email}, #{name}, #{content}, #{log_date})
	</insert>
	
	<select id="getAdminLog" resultType="AdminLogVO">
		SELECT * FROM admin_log
	</select>

</mapper>