<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gujerbit.battle_cat_web.dao.BoardDAO">

	<insert id="writing">
		INSERT INTO board_data(email, name, title, content, text, writing_date, remove, type)
		VALUES(#{email}, #{name}, #{title}, #{content}, #{text}, #{writing_date}, false, #{type})
	</insert>
	
	<select id="getAllBoardData" resultType="BoardVO">
		SELECT b.idx, b.name, u.grade, b.title, b.text, b.writing_date, b.remove, b.type FROM board_data b, user_data u
		<where>
			b.email = u.email
		</where>
	</select>
	
	<select id="getAllBoardCountData" resultType="BoardCountVO">
		SELECT * FROM board_count_data
	</select>
	
	<select id="getBoardData" resultType="BoardVO">
		SELECT * FROM board_data
		<where>
			idx = #{idx}
		</where>
	</select>
	
	<select id="duplicateCheck" resultType="int">
		SELECT COUNT(idx) FROM board_count_data
		<where>
			board_idx = #{board_idx}
			AND
			type = #{type}
			AND
			email = #{email}
		</where>
	</select>
	
	<insert id="countUpdate">
		INSERT INTO board_count_data(board_idx, type, email, name) VALUES(#{board_idx}, #{type}, #{email}, #{name})
	</insert>
	
	<select id="getCountData" resultType="BoardCountVO">
		SELECT * FROM board_count_data
		<where>
			board_idx = #{idx}
		</where>
	</select>

</mapper>