<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gujerbit.battle_cat_web.dao.DailyScheduleDAO">
	<select id="selectDailySchedule" resultType="DailyScheduleVO">
		SELECT a.content, a.start, a.end, a.week 
		FROM daily_schedule a, daily_schedule b
		WHERE a.week = #{week} AND a.content = b.content AND a.week = b.week AND a.start = b.start
		ORDER BY a.content;
	</select>
</mapper>