<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gujerbit.battle_cat_web.dao.EventScheduleDAO">
	<select id="selectEventSchedule" resultType="EventScheduleVO">
		SELECT * FROM event_schedule ORDER BY event_start_date DESC, event_end_date DESC
	</select>
</mapper>