<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gujerbit.battle_cat_web.dao.GachaScheduleDAO">
	<select id="selectGachaSchedule" resultType="GachaScheduleVO">
		SELECT * FROM gacha_schedule ORDER BY gacha_start_date DESC, gacha_end_date DESC LIMIT #{limit}, 5
	</select>
	<select id="selectGachaScheduleSize" resultType="int">
		SELECT COUNT(id) FROM gacha_schedule
	</select>
</mapper>