<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gujerbit.battle_cat_web.dao.UnitDataDAO">
	<select id="selectAllUnitData" resultType="UnitDataVO">
		SELECT * FROM
		unit_data
		ORDER BY CONVERT(SUBSTRING_INDEX(id, '-', 1), SIGNED INTEGER),
		CONVERT(SUBSTRING_INDEX(id, '-', -1), SIGNED INTEGER)
	</select>

	<select id="selectSearchIncludeUnitData" resultType="UnitDataVO">
		SELECT * FROM unit_data
		<where>
			<foreach collection="propertys" item="item" close="OR" separator="OR">
				SUBSTRING_INDEX(property, ',', 1) LIKE #{item} OR property LIKE CONCAT('%/',#{item},',%')
			</foreach>
			<foreach collection="propertys" item="item" close="OR" separator="OR">
				SUBSTRING_INDEX(instinct, ',', 1) LIKE #{item} OR instinct LIKE CONCAT('%/',#{item},',%')
			</foreach>
			rarity
			<foreach collection="raritys" item="item" open="LIKE " separator="OR rarity LIKE ">
				#{item}
			</foreach>
			OR target
			<foreach collection="targets" item="item" open="LIKE " separator="OR target LIKE ">
				CONCAT('%',#{item},'%')
			</foreach>
			OR attack_type
			<foreach collection="attackTypes" item="item" open="LIKE " separator="OR attack_type LIKE ">
				#{item}
			</foreach>
		</where>
		ORDER BY CONVERT(SUBSTRING_INDEX(id, '-', 1), SIGNED INTEGER),
		CONVERT(SUBSTRING_INDEX(id, '-', -1), SIGNED INTEGER)
	</select>

	<select id="selectSearchUnitData" resultType="UnitDataVO">
		SELECT * FROM unit_data
		<where>
			<if test="propertys.size() != 0">
				<foreach collection="propertys" item="item" separator="AND">
					IF(SUBSTRING_INDEX(property, ',', 1) LIKE #{item} OR property LIKE CONCAT('%/',#{item},',%'),
					SUBSTRING_INDEX(property, ',', 1) LIKE #{item} OR property LIKE CONCAT('%/',#{item},',%'),
					IF(SUBSTRING_INDEX(instinct, ',', 1) LIKE #{item} OR instinct LIKE CONCAT('%/',#{item},',%'),
					SUBSTRING_INDEX(instinct, ',', 1) LIKE #{item} OR instinct LIKE CONCAT('%/',#{item},',%'),
					''))
				</foreach>
			</if>
			<if test="raritys.size() != 0">
				AND rarity
				<foreach collection="raritys" item="item" open="LIKE " separator="AND rarity LIKE ">
					#{item}
				</foreach>
			</if>
			<if test="targets.size() != 0">
				AND target
				<foreach collection="targets" item="item" open="LIKE " separator="AND target LIKE ">
					CONCAT('%',#{item},'%')
				</foreach>
			</if>
			<if test="attackTypes.size() != 0">
				AND attack_type
				<foreach collection="attackTypes" item="item" open="LIKE " separator="AND attack_type LIKE ">
					#{item}
				</foreach>
			</if>
		</where>
		ORDER BY CONVERT(SUBSTRING_INDEX(id, '-', 1), SIGNED INTEGER),
		CONVERT(SUBSTRING_INDEX(id, '-', -1), SIGNED INTEGER)
	</select>

	<select id="selectNameSearchIncludeUnitData"
		resultType="UnitDataVO">
		SELECT * FROM unit_data
		<where>
			(<foreach collection="propertys" item="item" close="OR" separator="OR">
				SUBSTRING_INDEX(property, ',', 1) LIKE #{item} OR property LIKE CONCAT('%/',#{item},',%')
			</foreach>
			<foreach collection="propertys" item="item" close="OR" separator="OR">
				SUBSTRING_INDEX(instinct, ',', 1) LIKE #{item} OR instinct LIKE CONCAT('%/',#{item},',%')
			</foreach>
			rarity
			<foreach collection="raritys" item="item" open="LIKE " separator="OR rarity LIKE ">
				#{item}
			</foreach>
			OR target
			<foreach collection="targets" item="item" open="LIKE " separator="OR target LIKE ">
				CONCAT('%',#{item},'%')
			</foreach>
			OR attack_type
			<foreach collection="attackTypes" item="item" open="LIKE " separator="OR attack_type LIKE ">
				#{item}
			</foreach>)
			AND (id
			<foreach collection="unitName" item="item" open="LIKE ">
				CONCAT('%',#{item},'%')
			</foreach>
			OR name
			<foreach collection="unitName" item="item" open="LIKE ">
				CONCAT('%',#{item},'%')
			</foreach>)
		</where>
		ORDER BY CONVERT(SUBSTRING_INDEX(id, '-', 1), SIGNED INTEGER),
		CONVERT(SUBSTRING_INDEX(id, '-', -1), SIGNED INTEGER)
	</select>

	<select id="selectNameSearchUnitData" resultType="UnitDataVO">
		SELECT * FROM unit_data
		<where>
			<if test="propertys.size() != 0">
				<foreach collection="propertys" item="item" separator="AND">
					IF(SUBSTRING_INDEX(property, ',', 1) LIKE #{item} OR property LIKE CONCAT('%/',#{item},',%'),
					SUBSTRING_INDEX(property, ',', 1) LIKE #{item} OR property LIKE CONCAT('%/',#{item},',%'),
					IF(SUBSTRING_INDEX(instinct, ',', 1) LIKE #{item} OR instinct LIKE CONCAT('%/',#{item},',%'),
					SUBSTRING_INDEX(instinct, ',', 1) LIKE #{item} OR instinct LIKE CONCAT('%/',#{item},',%'),
					''))
				</foreach>
			</if>
			<if test="raritys.size() != 0">
				AND rarity
				<foreach collection="raritys" item="item" open="LIKE " separator="AND rarity LIKE ">
					#{item}
				</foreach>
			</if>
			<if test="targets.size() != 0">
				AND target
				<foreach collection="targets" item="item" open="LIKE " separator="AND target LIKE ">
					CONCAT('%',#{item},'%')
				</foreach>
			</if>
			<if test="attackTypes.size() != 0">
				AND attack_type
				<foreach collection="attackTypes" item="item" open="LIKE " separator="AND attack_type LIKE ">
					#{item}
				</foreach>
			</if>
			AND (id
			<foreach collection="unitName" item="item" open="LIKE ">
				CONCAT('%',#{item},'%')
			</foreach>
			OR name
			<foreach collection="unitName" item="item" open="LIKE ">
				CONCAT('%',#{item},'%')
			</foreach>)
		</where>
		ORDER BY CONVERT(SUBSTRING_INDEX(id, '-', 1), SIGNED INTEGER),
		CONVERT(SUBSTRING_INDEX(id, '-', -1), SIGNED INTEGER)
	</select>

	<select id="selectNameUnitData" resultType="UnitDataVO">
		SELECT * FROM unit_data
		<where>
			id LIKE CONCAT('%',#{unitName},'%')
			OR
			name LIKE
			CONCAT('%',#{unitName},'%')
		</where>
		ORDER BY CONVERT(SUBSTRING_INDEX(id, '-', 1), SIGNED INTEGER),
		CONVERT(SUBSTRING_INDEX(id, '-', -1), SIGNED INTEGER)
	</select>

	<select id="selectIdUnitData" resultType="UnitDataVO">
		SELECT * FROM unit_data
		<where>
			SUBSTRING_INDEX(id, '-', 1) LIKE #{unitId}
		</where>
	</select>
</mapper>