<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gujerbit.battle_cat_web.dao.UserDAO">

	<select id="login" resultType="UserVO">
		SELECT email, name, code, grade, reg_date, profile_img, description, report_count, reject_end_date, forever_reject, reputation FROM user_data
		<where>
			email = #{email}
			AND
			password = #{password}
		</where>
	</select>
	
	<insert id="register">
		INSERT INTO user_data(email, password, name, code, grade, salt, reg_date, profile_img, description, report_count, reject_end_date, forever_reject, reputation)
		VALUES(#{email}, #{password}, #{name}, #{code}, #{grade}, #{salt}, #{reg_date}, #{profile_img}, #{description}, #{report_count}, #{reject_end_date}, #{forever_reject}, #{reputation})
	</insert>
	
	<select id="selectSalt" resultType="string">
		SELECT salt FROM user_data
		<where>
			email = #{email}
		</where>
	</select>
	
	<select id="selectEmail" resultType="string">
		SELECT email FROM user_data
		<where>
			email = #{email}
		</where>
	</select>
	
	<select id="selectName" resultType="string">
		SELECT name FROM user_data
		<where>
			name = #{name}
		</where>	
	</select>
	
	<select id="selectCode" resultType="string">
		SELECT code FROM user_data
	</select>
	
	<select id="findEmail" resultType="UserVO">
		SELECT email, code FROM user_data
	</select>
	
	<update id="changePassword">
		UPDATE user_data SET password = #{password}, salt = #{salt}
		<where>
			email = #{email}
		</where>
	</update>

</mapper>