main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

main * {
  text-decoration: none;
}
  
main > a {
  width: 100%;
  height: 130%;
  transform: translateY(-10%);
  transition: all 1s;
  position: relative;
}
  
main > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  filter: grayscale(0.5);
  transition: all 1s;
}
  
main > a > p {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 4.5rem;
  text-align: center;
  color: #ffc038;
  text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
  z-index: 10;
  pointer-events: none;
}

main > a:nth-child(2n - 1):hover {
  transform: translateY(-20%);
}

main > a:nth-child(2n):hover {
  transform: translateY(0);
}
  
main > a:hover {
  transition: all 3s;
}
  
main > a > img:hover {
  transition: all 3s;
  opacity: 0.9;
  filter: grayscale(0.1);
}

.main-page {
  width: 4.5%;
  height: 100%;
  border: 2px solid #ffc038;
  border-left: none;
  border-radius: 0 15px 15px 0;
  color: #ffc038;
  text-shadow: -0.5px 0 #000000, 0 0.5px #000000, 0.5px 0 #000000, 0 -0.5px #000000;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1.5s;
  font-size: 3rem;
}
  
.main-page:hover {
  opacity: 1;
}