main {
  width: 100%;
  height: 100%;
}

main * {
  text-decoration: none;
}
  
.wrap {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 45% 54%;
  margin-top: 0.25%;
}
  
section {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 92.5% 7.5%;
}
  
.content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  overflow: auto;
}
  
.content::-webkit-scrollbar {
  display: none;
}
  
.unit-content {
  width: 100%;
  height: 100%;
}
  
.unit-content img {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 1.5px solid #ffc038;
  border-top: none;
  border-left: none;
}

.unit-content:nth-child(9n - 8) img, .unit-content:nth-child(9n - 8) p {
  border-left: 1.5px solid #ffc038;
}

.unit-content:nth-child(n + 19) p {
  border-bottom: none;
}
  
.unit-content p {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 2.3rem;
  border: 1.5px solid #ffc038;
  border-top: none;
  border-left: none;
}
  
.pages {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1.5px solid #ffc038;
}
  
.pages p {
  width: 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
  
.page {
  width: 100%;
  height: 100%;
  font-size: 2.8rem;
}
  
.select {
  color: #ffc038;
  pointer-events: none;
}
  
.prev, .next {
  width: 100%;
  height: 100%;
  font-size: 2.8rem;
}
  
.main-page {
  width: 4.5%;
  height: 100%;
  border: 2px solid #ffc038;
  border-left: none;
  border-radius: 0 15px 15px 0;
  color: #ffc038;
  text-shadow: -0.5px 0 #000000, 0 0.5px #000000, 0.5px 0 #000000, 0 -0.5px #000000;
  position: absolute;
  top: 0;
  left: 0;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1.5s;
  font-size: 3rem;
}
  
.main-page:hover {
  opacity: 1;
}