#element {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 85% 15%;
  box-shadow: 0px 5px 10px #ffffff;
}

.content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 3fr 1fr;
  overflow: auto;
  border: 2px solid #ffc038;
  border-radius: 15px;
}

.content::-webkit-scrollbar {
  display: none;
}

.data {
  width: 80%;
  height: 80%;
}

.data img {
  width: 100%;
  height: 100%;
}

.property {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  justify-items: center;
  align-items: center;
}

section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.rarity {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.target {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.search {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 0.5%;
}

.search input {
  width: 90%;
  height: 90%;
  position: relative;
  outline: 0;
  border: 2px solid #ffc038;
  background-color: #ffffff;
  border-radius: 10px 0 0 10px;
  text-align: center;
  font-size: 2.8rem;
  color: #ffc038;
  text-shadow: -0.5px 0 #000000, 0 0.5px #000000, 0.5px 0 #000000, 0 -0.5px #000000;
}

.search input::placeholder {
  color: #ffc038;
}

.search .include {
  width: 10%;
  height: 90%;
  border: 2px solid #ffc038;
  background-color: #ffffff;
  border-left: none;
  border-radius: 0 10px 10px 0;
  outline: 0;
  text-align: center;
  color: #ffc038;
  text-shadow: -0.5px 0 #000000, 0 0.5px #000000, 0.5px 0 #000000, 0 -0.5px #000000;
  font-size: 2.8rem;
  transition: all 0.5s;
  cursor: pointer;
}

.search .include:hover {
  color: #ffffff;
  text-shadow: -0.5px 0 #ffc038, 0 0.5px #ffc038, 0.5px 0 #ffc038, 0 -0.5px #ffc038;
}

img {
  cursor: pointer;
  transition: all 0.5s;
  filter: grayscale(1);
}

img:hover {
  transform: scale(0.9);
}

.select {
  filter: grayscale(0);
}