main {
  width: 100%;
  height: 100%;
}

main * {
  text-decoration: none;
}
  
#content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  margin-top: 0.25%;
}
  
.upgrade {
  width: 100%;
  height: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
  
.upgrade p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #ffc038;
  border-right: none;
  font-size: 3rem;
  cursor: pointer;
}
  
.upgrade p:last-child {
  border-right: 1.5px solid #ffc038;
}

.select {
  color: #ffc038;
  pointer-events: none;
}

.unit-info {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 10% 25% 58.5%;
}

.title {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
  
.title-header, .title-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
  
.title-header p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  border: 1.5px solid #ffc038;
  border-top: none;
  border-right: none;
  color: #ffffff;
  background-color: #ffc038;
}

.title-header p:last-child {
  border-right: 1.5px solid #ffc038;
}
  
.title-content p, .rarity, .title-content .level {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  border: 1.5px solid #ffc038;
  border-top: none;
  border-right: none;
}
  
.title-content > :last-child {
  border-right: 1.5px solid #ffc038;
}
  
.level {
  outline: 0;
  text-align: center;
}
  
.level::-webkit-inner-spin-button, .instinct-level::-webkit-inner-spin-button {
  display: none;
}
  
.rarity {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.rarity img {
  width: 30%;
  height: 92.5%;
}
  
.image {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 20% 80%;
  overflow: auto;
}
  
.image-title {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
  
.image-title p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.8rem;
  color: #ffffff;
  background-color: #ffc038;
}
  
.image-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
  
.thumbnail {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #ffc038;
  border-top: none;
}
  
.thumbnail img {
  width: 40%;
  height: 85%;
}
  
.target, .element {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  border: 1.5px solid #ffc038;
  border-left: none;
  border-top: none;
}

.target {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.element {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
  
.target img {
  width: 60%;
  height: 80%;
}

.element img {
  width: 90%;
  height: 75%;
}
  
.content {
  width: 100%;
  height: 100%;
  overflow: auto;
}
  
.content::-webkit-scrollbar, .image::-webkit-scrollbar {
  display: none;
}
  
section {
  width: 100%;
  height: 20%;
  display: grid;
  grid-template-rows: 35% 65%;
}
  
section p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.content-title, .content-data {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
  
.content-title p {
  background-color: #ffc038;
  font-size: 2.8rem;
  color: #ffffff;
}
  
.content-data > p {
  font-size: 2.3rem;
  border: 1.5px solid #ffc038;
  border-left: none;
}
  
.content-data > :first-child {
  border-left: 1.5px solid #ffc038;
}
  
.attack-power, .attack-speed, .attack-cycle, .cost, .attack-end-speed, .produce-speed, .attack-freq, .move-speed {
  width: 100%;
  height: 100%;
  font-size: 2.3rem;
  border: 1.5px solid #ffc038;
  border-left: none;
}
  
.attack-power, .attack-speed, .attack-cycle, .attack-end-speed, .produce-speed, .attack-freq {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
  
.content-division-forward, .content-division-backend, .cost, .move-speed {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.attack-power p, .attack-speed p, .attack-cycle p, .cost p, .attack-end-speed p, .produce-speed p, .attack-freq p, .move-speed p {
  width: 100%;
  height: 100%;
}
  
.property, .instinct, .description {
  width: 100%;
  height: 35%;
  display: grid;
  grid-template-rows: 22.5% 77.5%;
  border: 1.5px solid #ffc038;
  border-top: none;
}

.description > p:first-child, .property > p:first-child, .instinct > p:first-child {
  background-color: #ffc038;
  font-size: 2.8rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.property .property-content {
  display: grid;
}
  
.description p, .property p {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2.3rem;
}
  
.instinct-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
  
.instinct-data {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 70% 30%;
  border-left: 1.5px solid #ffc038;
}

.instinct-data:first-child {
  border-left: none;
}
  
.instinct-data .text, .instinct-data .input {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  
.instinct-data .text span {
  font-size: 2.3rem;
}
  
.instinct-data .input .instinct-level {
  width: 50%;
  height: 100%;
  text-align: center;
  font-size: 2.3rem;
  border: none;
  border-top: 1.5px solid #ffc038;
  outline: 0;
}
  
.instinct-data .input button {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.3rem;
  border: none;
  border-top: 1.5px solid #ffc038;
  border-left: 1.5px solid #ffc038;
  background-color: #ffffff;
  cursor: pointer;
}
  
.unselect {
  filter: grayscale(1);
}
  
.main-page, .unit-info-page {
  width: 4.5%;
  height: 100%;
  border: 2px solid #ffc038;
  color: #ffc038;
  text-shadow: -0.5px 0 #000000, 0 0.5px #000000, 0.5px 0 #000000, 0 -0.5px #000000;
  position: absolute;
  top: 0;
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1.5s;
  font-size: 3rem;
}
  
.main-page {
  left: 0;
  border-left: none;
  border-radius: 0 15px 15px 0;
}
  
.unit-info-page {
  right: 0;
  border-right: none;
  border-radius: 15px 0 0 15px;
}
  
.main-page:hover, .unit-info-page:hover {
  opacity: 1;
}